# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/
*.db
data/
lib/**/*.freezed.dart
lib/**/*.g.dart
lib/**/*.ddg.dart
test/**/*.freezed.dart
test/**/*.g.dart
.env
run.sh